body {
    color: #faf9f6;
    background-color: #0c0c0c;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 100%;
    max-width: 800px;
    margin: 10% auto 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    text-align: left;
    padding-top: 1px;
    line-height: 150%;
}

.shelves {
    padding-top: 5px;
    padding-bottom: 5px;
}

.shelves_buttons {
    display: flex;
    gap: 5px;
    padding: 2px;
}

.shelves_buttons a {
    text-align: center;
    display: flex;
    flex: 1;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #1a1919;
    transition: 200ms;
}

.shelves_buttons a:hover {
    background-color: #2a2828;
    cursor: pointer;
    transition: 200ms;
}

a {
    color: #faf9f6;
    text-decoration: none;
}