body {
    color: #faf9f6;
    background-color: #0c0c0c;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 100%;
    max-width: 800px;
    margin: 10% auto 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    text-align: left;
    background-color: #1a1919;
    padding: 15px;
    border-radius: 15px;
}

h1 { 
    margin-left: 25px;
    font-size: xxx-large;
}

#tda { 
    margin-bottom: 3%;
}

#tagline { 
    margin-left: 25px;
    opacity: 85%;
}

.introduction {
    margin-right: 0;
    text-align: center;
}

.introduction p {
    text-align: justify;
    max-width: 100%;
    line-height: 150%;
    background-color: #1a1919;
    padding: 35px;
    border-radius: 15px;
}

.introduction button {
    font-size: medium;
    border-style: none;
    padding: 20px;
    background-color: #1a1919;
    transition: 200ms;
    border-radius: 15px;

}

.introduction button:hover {
    background-color: #2a2828;
    transition: 200ms;
}

a {
    color: #faf9f6;
    text-decoration: none;
}

footer {
    padding: 25px;
    margin-top: 20%;
    border-radius: 15px;
    background-color: #1a1919;
}