body {
    margin: 0;
    color: #faf9f6;
    background-color: #0c0c0c;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 900px;
    margin: 8vh auto;
    padding: 0 24px;
}


.header {
    background-color: #1a1919;
    padding: 25px;
    border-radius: 16px;
}

.header h1 {
    margin-left: 20px;
    font-size: 3rem;
}

.subtitle {
    margin-left: 20px;
    margin-top: 10px;
    opacity: 0.8;
    line-height: 1.5;
    font-style: italic;
}


.nav-back {
    margin: 16px 0 32px 0;
}

button {
    background-color: #2a2828;
    border: #151515;
    border-radius: 10px;
    color: #faf9f6;
    font-size: 0.9rem;
    opacity: 0.7;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    opacity: 1;
}


.shelves {
    display: block;
    text-align: center;
}

.section-title {
    background-color: #151515;
    border-radius: 15px;
    padding: 30px;
    margin: 40px 0 12px 0;
}

.section-title h2 {
    margin: 0;
    font-size: 2rem;
}

.section-title h3 {
    margin: 4px 0 0 0;
    font-size: 1.6rem;
    opacity: 0.9;
}


.shelf {
    display: flex;
    align-items: flex-end;
    gap: 14px;
    padding: 18px 14px 12px 14px;
    background-color: #151515;
    border-radius: 14px;
    margin-bottom: 24px;
    position: relative;
}

.book {
    padding: 20px 0px 20px 0px;
    width: 70px;
    height: 170px;
    background-color: #1a1919;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: transform 200ms, background-color 200ms;
}

.book:hover {
    background-color: #2a2828;
    transform: translateY(-6px);
}

.book-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1.0rem;
    text-align: center;
    color: #faf9f6;
    opacity: 0.9;
    line-height: 1.2;
}