body {
    color: #faf9f6;
    background-color: #0c0c0c;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    text-align: left;
    padding-top: 1px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    width: 100%;
    max-width: 800px;
    margin: 10% auto 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.book {
    padding-top: 10px;
    text-align: justify;
}

.book p {
    line-height: 130%;
}

.callout-box {
    padding: 20px;
    border: 2px solid #2a2828;
    background-color: #0c0c0c;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.callout-box-table {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 2px solid #2a2828;
    background-color: #0c0c0c;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.image { 
    text-align: center;
    font-size: small;
    padding: 2px;
}

.image img { 
    width: 50%;
}

button { 
    border: none;
    padding: 15px;
    color: #faf9f6;
    background-color: #1a1919;
    transition: 200ms;
}

button:hover { 
    background-color: #2a2828;
    cursor: pointer;
    transition: 200ms;
}